<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>PoS: Place of Chatting</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../../dist/css/normalize.css">
    <link rel="stylesheet" href="../../dist/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/favicon.ico">

  </head>
  <body>

  <div data-role="page" id "iotmain">
      <div data-role="content" id="content">
        <ul data-role="listview" data-child-pages="true"  data-filter="true" data-inset="true">
          <li data-role="list-divider"><h1>Chatting Rooms</h1></li>
          <% for (var i = 0; i < rooms.length; i++){ %>
            <!--<li><h1><a class="button button-primary" href= "<%- 'chat/' + rooms[i] %>">room <%- i + 1 %> : <%- rooms[i] %></a></h1></li>-->
            <li><button onclick="location.href='<%- 'chat/' + rooms[i] %>'">room <%- i + 1 %> : <%- rooms[i] %></button></li>
          <% } %>
        </ul>
      </div><!-- /content -->
    </div><!-- /page -->

    <div data-role="page" id= "chat" data-title="Device">
      <div data-role="header" data-theme="a">
  			<a href="#" data-rel="back">back</a>

  	  </div><!-- /header -->
        <div data-role="content" id="content">

        </div><!-- /content -->
      </div><!-- /page -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
