<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1><a href="/"><%= title %></a></h1>
      </div>
      <div class="panel-body">
        <img src="/images/macComs.jpg" alt= "Profile" id="Profile">
      </div>
    </div>
    <nav>
      <ul class="nav nav-tabs  nav-justified">
        <% for (var i = 0; i < rows.length; i++){ %>
          <% if (i == 0){ %>
            <li role="presentation">
          <% } else { %>
            <li role="presentation">
          <% } %>
            <a href="/topics/<%= rows[i].id %>">
              <%= rows[i].title %>
            </a>
          </li>
        <% } %>
      </ul>
    </nav>
  </head>
  <body>
    <div class="jumbotron">
      <div id= "container" class="container">
        <article id="explanation">
          <h2><%- rows[seq].title %></h2>
          <p><%- rows[seq].description %></p>
        </article>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
